


.st0 {
    clip-path: url(#XMLID_8_);
    fill: none;
    stroke: url(#XMLID_9_);
    stroke-width: 70.344;
    stroke-miterlimit: 10;
}

.st1 {
    clip-path: url(#XMLID_11_);
    fill: none;
    stroke: url(#XMLID_12_);
    stroke-width: 70.344;
    stroke-miterlimit: 10;
}